# Git & CI
.git
.github

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env & IDE
.env
.venv/
.vscode/
.DS_Store

# Data / ML
data/
model_export/
models/
notebooks/
.cache/
.huggingface/

# ML artifacts
*.pt
*.pth
*.bin
*.ckpt
*.safetensors
*.log
