fastapi==0.115.0
uvicorn[standard]==0.30.0
pydantic==2.9.0

# Database
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
pymongo==4.15.4
alembic==1.17.2
    
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.7.2
torch==2.5.0
transformers==4.57.3
sentence-transformers==5.1.2

# NLP Vietnamese
underthesea==8.3.0
py-vncorenlp==0.1.4
spacy==3.8.11

# Utils
python-dotenv==1.2.1
python-multipart==0.0.20
requests==2.32.3